<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo API</title>
</head>

<body>
    <h1>Todo list api</h1>
    Use todolist at
    <a href="http://localhost:4200/">http://localhost:4200/</a> 
</body>

</html>